.inputContainer {
  height: 4rem;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  width: 90%;
  height: 3rem;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid #ec4c8a;
  border-radius: 15px;
  color: #ec4c8a;
}
