.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item:nth-child(2), 
.item:nth-child(3),
.item:nth-child(6),
.item:nth-child(7),
.item:nth-child(10),
.item:nth-child(11),
.item:nth-child(14),
.item:nth-child(15),
.item:nth-child(18),
.item:nth-child(19) {
  background-color: #ec4c8a;
}

.item:nth-child(1),
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(8),
.item:nth-child(9),
.item:nth-child(12),
.item:nth-child(13),
.item:nth-child(16),
.item:nth-child(17),
.item:nth-child(20) {
  background-color: #d04278;
}

.loading, .error {
  color: black;
}